header * {
 display: flex;
 align-items: center;
 height: fit-content;
}

hr {
 height: 20px;
 margin: 5px;
}

.top-wrapper {
 padding: 10px 0;
 width: 100%;
 display: flex;
 justify-content: space-between;
}

.right p {
 font-size: xx-small;
}

.wrapper-top {
 background-color: var(--color-main-two);
}

.middle-wrapper {
}

.bottom-wrapper {
}
