:root {
 --main-color-one: #0b2f9f;
 --primary: #0b2f9f;

 --main-color-two: #0b2f9f;

 --main-color-three: #98ded9;

 --main-color-four: #c7ffd8;
 --main-color-four-shadow: #e0ffe9;

 --color-red: #0b2f9f;
 --color-red-dark: #98ded9;

 --color-secondary: #0b2f9f;

 --main-color-5: #cefbf9;
 --main-color-5-shadow: rgb(241, 255, 254);

 --text-grey: rgb(44, 44, 44);

 --color-grey-1: #e7eeef;
 --color-grey-2: rgb(247, 248, 249);
 --color-grey-3: #636363;

 --main-color-1: #161d6f;
 --main-color-2: #0b2f9f;
 --main-color-3: #98ded9;
 --main-color-4: #c7ffd8;

 --font-color-1: #3f4064;

 --color-black-1: #272727;

 --icon-size: 20px;

 --title-font: 18px;
 --caption-font: 14px;
 --normal-font: 13px;

 /* sidebar variables */
 --sidebar-bg: #ededed;
 --text-primary: #282828;
 --text-active: #000000;
 --primary: #3b82f6;
 --secondary: #8b5cf6;
 --danger: #ef4444;
 --hover-bg: rgba(126, 167, 232, 0.2);
 --active-bg: rgba(59, 130, 246, 0.2);
 --radius-sm: 4px;
 --radius-md: 4px;
 --radius-lg: 8px;
 --transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);

 /* profile styles */
 --base-bg: #0f172a;
 --card-bg: #1e293b62;
 --border: #ededed;
 --text-light: #b9c1cd;
 --text-muted: #92aacb;
 --text-white: #ffffff;
 --red: #ef4444;
 --red-light: #f87171;
 --profile-modal-zindex: 100000;
 --text-secondary: #202020;
 --green: #4ade80;

 /* Status Colors */
 --status-delivered-bg: rgba(74, 222, 128, 0.1);
 --status-delivered-text: #00ff5e;
 --status-shipped-bg: rgba(59, 130, 246, 0.1);
 --status-shipped-text: #0062ff;
 --status-processing-bg: rgba(251, 191, 36, 0.1);
 --status-processing-text: #775704;
 --status-cancelled-bg: rgba(248, 113, 113, 0.1);
 --status-cancelled-text: #e92525;

 --status-open-bg: rgba(251, 191, 36, 0.1);
 --status-open-text: #fbbf24;
 --status-answered-bg: rgba(59, 130, 246, 0.1);
 --status-answered-text: #3b82f6;
 --status-closed-bg: rgba(74, 222, 128, 0.1);
 --status-closed-text: #4ade80;

 --input-disabled: #e8e8e8;

 /* drawer  */
 --drawer-bg: #ffffff;
 --drawer-text: #111827;
 --drawer-text-secondary: #4b5563;
 --drawer-border: #e5e7eb;
 --drawer-primary: #1a1a1a;
 --drawer-primary-text: #ffffff;
 --drawer-radius: 12px;
 --drawer-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1),
  0 8px 10px -6px rgba(0, 0, 0, 0.1);
 --danger-text: #ef4444;
 --danger-color: #ef4444;
 --primary-color: #3b82f6;
 --text-color-primary: #1f2937;
 --text-color-secondary: #6b7280;
 --surface-color: #ffffff;
 --border-color: #b8bbc0;

 --mouse-x: 50%;
 --mouse-y: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 color: #696969;
}



@media only screen and (max-width: 480px) {
 :root {
  --small-pc-padding: 0;
 }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
 :root {
  --small-pc-padding: 0;
 }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
 :root {
  --small-pc-padding: 1rem;
 }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
 :root {
  --small-pc-padding: 6rem;
 }
}

@media only screen and (min-width: 1201px) {
 :root {
  --small-pc-padding: 6rem;
 }
}
