:root {
 --main-color-one: #0b2f9f;
 --primary: #0b2f9f;

 --main-color-two: #0b2f9f;

 --main-color-three: #98ded9;

 --main-color-four: #c7ffd8;
 --main-color-four-shadow: #e0ffe9;

 --color-red: #ff5151;
 --color-red-dark: #ff1d1d;

 --main-color-5: #cefbf9;
 --main-color-5-shadow: rgb(241, 255, 254);

 --text-grey: rgb(44, 44, 44);

 --color-grey-1: #e7eeef;
 --color-grey-2: rgb(247, 248, 249);

 --main-color-1: #161d6f;
 --main-color-2: #0b2f9f;
 --main-color-3: #98ded9;
 --main-color-4: #c7ffd8;

 --color-grey-1: #e7eeef;

 --color-black-1: #272727;

 --icon-size-sm: 25px;

 --title-font: 18px;
 --caption-font: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 color: #373737;
}

@media only screen and (max-width: 480px) {
 :root {
  --small-pc-padding: 0;
 }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
 :root {
  --small-pc-padding: 0;
 }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
 :root {
  --small-pc-padding: 1rem;
 }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
 :root {
  --small-pc-padding: 6rem;
 }
}

@media only screen and (min-width: 1201px) {
 :root {
  --small-pc-padding: 6rem;
 }
}
