@import url(../../styles/variables.css);
.main {
 border: none;
 outline: none;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 12px 20px;
 background-color: rgb(245, 245, 245);
 cursor: pointer;
 margin: 10px;
}
