@import url(../../styles/variables.css);
.main {
 border: none;
 outline: none;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 12px 20px;
 background-color: rgb(245, 245, 245);
 box-shadow: 0px 0px 5px 0 rgb(179, 179, 179);
 cursor: pointer;
 margin: 10px;
}
