.main {
 width: 100%;
 height: fit-content;
 margin: 0 auto;
 padding: 1rem;
 border-radius: var(--radius-lg);
 background-color: rgba(11, 47, 159, 0.2);
 flex: 1 1 100%;
 background: var(--sidebar-bg);
 box-shadow: 0px 0px 5px 5px #f8f8f8;
}
@media only screen and (max-width: 480px) {
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
 .main {
  width: 95%;
 }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}

@media only screen and (min-width: 1201px) {
}
