@font-face {
 font-family: iranYekan;
 src: url('/public/assets/fonts/iranyekanwebregular.woff');
}

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: 'iranYekan' !important;
}

html {
  scrollbar-gutter: stable;
}

.css-1kfabtt-MuiFormLabel-root-MuiInputLabel-root {
 right: 35px !important;
}

.css-1ll44ll-MuiOutlinedInput-notchedOutline {
 text-align: right !important;
}

.css-2jtc7m-MuiFormControl-root-MuiTextField-root
 .MuiInputLabel-root.Mui-focused {
 margin-right: 15px !important;
}
